<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055877063984-o8f0u51iad108cnfdp82q8frmssro5d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055877063984-o8f0u51iad108cnfdp82q8frmssro5d8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1055877063984-i57ufjf4ble0eco0ls4lni614616v3dm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmKQFaSQ2kDVMY9z7jUJ2qmX6qM04Vmcc</string>
	<key>GCM_SENDER_ID</key>
	<string>1055877063984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brewnbeer.homeDoctor</string>
	<key>PROJECT_ID</key>
	<string>home-doctor-chaang</string>
	<key>STORAGE_BUCKET</key>
	<string>home-doctor-chaang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055877063984:ios:ae3205a3ebfdfd87af54f5</string>
</dict>
</plist>